# netbeans project files
nbproject/*
/nbproject/*

# zend studio for eclipse project files
.buildpath
.project
.settings

# Yii 2 
/runtime/debug
/runtime
#/vendor
/web/assets
/web/index.php
config/db.php
/nbproject
/config/db.php
/web/index.php
