# netbeans project files
#nbproject/*
#/nbproject/*

# zend studio for eclipse project files
.buildpath
.project
.settings

# Yii 2 
/runtime/debug
/runtime
/vendor/*
/web/assets
#/nbproject
#/web/index.php

/config/db.php
